<ngx-spinner></ngx-spinner>
<div class="container mt-4">
  <div class="blog-post">
      <h2 class="blog-post-title">{{movie?.title}}</h2>
      <p class="blog-post-meta font-weight-bold"> Produced By <a>{{movie?.production_company}}</a></p>
      <p *ngIf="movie?.distributor" class="blog-post-meta font-weight-bold"> Distributor <a>{{movie?.distributor}}</a></p>
      <p *ngIf="movie?.writer" class="blog-post-meta font-weight-bold">Writers <a>{{movie?.writer}}</a></p>
      <p *ngIf="movie?.actor_1" class="blog-post-meta font-weight-bold">Lead Actors <a>{{movie?.actor_1}} &nbsp; {{movie?.actor_2}} &nbsp; {{movie?.actor_3}}</a></p>
      <p *ngIf="movie?.fun_facts">{{movie?.fun_facts}}.</p>

      <h6 *ngIf="movie?.locations?.length>0" style="color: maroon">This movie was shot at the following locations</h6>
      <ul (click)="wikiSearch($event)">
        <li *ngFor="let location of movie?.locations" [ngStyle]="{'color':'maroon', 'cursor': 'pointer'}">
          {{location}}
        </li>
      </ul>
    </div>
    <h4 *ngIf="!more"> More information will appear</h4>
    <div class="spinner-border text-primary" *ngIf="contentLoading" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    <div class="jumbotron" *ngIf="!!more"><code [innerHTML]="more"></code></div>
</div>
