.navbar_menu {
  width: 100%;
  background: black;
  opacity: 0.9;
  height: 10%;
  padding: 13px 10% 0 2%;
}
.navbar_bottom_menu {
  width: 100%;
  background: gray;
  opacity: 1;
  height: 10vh;
}
/* Logo Tasarımı */
.logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
  float: left;
  padding-top: 3px;
}
.logo:hover {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-style: italic;
}

.arama {
  width: 85%;
  display: block;
  float: left;
  position: absolute;
  left: 13%;
  right: 2%;
}
.input-group span {
  font-size: 19px;
  color: white;
}
.bottom_menu {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0%;
}
/* Bottom Menu Left Menu Tasarımı */
.left_menu {
  list-style: none;
  float: left;
  margin-left: 5%;
  width: 30%;
}
.left_menu li {
  float: left;
  margin: 1px 0px 5px 0px;
  padding: 8%;
  color: white;
  text-align: justify;
}
.orta_menu {
  list-style: none;
  float: left;
  margin-right: 3%;
  margin-left: 3%;
  width: 20%;
}
.orta_menu li {
  width: 50%;
  float: left;
  margin: 1px 5px;
  padding: 8% 0px;
  color: white;
  text-align: center;
}
.right_menu {
  list-style: none;
  float: left;
  margin-right: 9%;
  width: 25%;
}
.right_menu li {
  float: left;
  margin: 1px 0px 5px 0px;
  padding: 8%;
  color: white;
  text-align: justify;
}

/* Bottom_Menu:hover; */
.bottom_menu a:hover li {
  border-radius: 45%;
  background: white;
  opacity: 0.8;
  color: black;
  transition: 2s;
}
